@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

header {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 160px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: gray;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: rgb(255, 0, 0);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
}

.header-txt {
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #aa3d3d;
    margin-bottom: 25px;
}

.header-txt p{
    font-size: 18px;
    color: gray;
}

.header-img {
    width: 60%;
}

.MAHAGRID {
    height: 70%;
    width: 70%;
}

.botones {
    display: flex;
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    background: linear-gradient(90deg, #d97878 0%, #dd3535 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: black;
    border-radius: 25px;
}

.btn-1:hover {
    background: linear-gradient(90deg, #d97878 0%, #dd3535 100%);
}

.icon {
    width: 20px;
}

.product-menu{
    padding: 50px 0 150px 0;
}

.title {
    color: black;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.product {
    display: flex;
    position: relative;
}

.menu-nav {
    display: flex;
    margin-bottom: 35px;
}

.tab{
    margin-right: 20px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    font-weight: 800;
    background-color: gray;
    cursor: pointer;
}

.tab.active {
    background: linear-gradient(90deg, #df8080 0%, #e73f3f 100%);
    color: black;
}

.tab active:after{
    content: "";
    position: absolute;
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.visible {
    display: initial;
}

.box-container-1,
.box-container-2,
.box-container-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-1,
.box-2,
.box-3 {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3){
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3){
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3){
    display: inline-block;
}

.image {
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 150px;
}

.content h3 {
    font-size: 20px;
    color: black;
}

.content p {
    font-size: 15px;
    color: gray;
    line-height: 2;
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #df8080;
    color: #e47272;
    font-size: 16px;
}

.btn:hover {
    background-color: #dd3535;
    border-color: #9b5d5d;
    color: black;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #df8080;
}

.price {
    font-size: 14px;
    color: gray;
}

.buy {
    padding: 1px 15px 0px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg #f3a8a8 0%, #f37878 100%);
}

.buy img {
    width: 15px;
}

.load-more {
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border:1px solid gray;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

.load-more:hover {
    background: linear-gradient(90deg, #f3a8a8 0%, #f37878 100%);
    border-color: #ad3232;
    color: white;
}

.info {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0,0.5));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.info-content {
    display: flex;
    position: relative;
}

.info-txt {
    width: 60%;
    margin-top: 2px;

}

.info-txt h2 {
    color: black;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: gray;
    margin-bottom: 25px;
}

.info.sec {
    display: flex;
}

.info-1 {
    display: flex;
}

.info-1 img {
    width: 25px;
}

.info-2 {
    margin-left: 25px;
}

.info-2 h3 {
    color: black;
    font-size: 25px;
}

.info-2 p {
    color: gray;
    font-size: 16px;
}

.info-img {
    right: -75x;
    top: -90px;
}

.info-img img {
    width: 380px;
}

.footer {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2 {
    width: 250px;
}

.links h4 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: gray;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

@media(max-width: 991px ) {
    
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #dd3535;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    .menu .navbar ul li a:hover {
        color: gray;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }

    .header-img {
        width: 100%;
        margin-top: 45px;
    }
    .product-menu {
        padding: 30px;
    }

    .title {
        margin-bottom: 20px;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        margin-bottom: 25px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .box .img {
        height: 200px;
    }

    .info {
        padding: 30px;
        height: 80vh;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-txt {
        width: 100%;
        margin-top: 0px;
    }

    .info-txt p {
        margin-bottom: 5px;
    }

    .info.sec {
        flex-direction: column;
        padding: 0px 35px;
    }

    .info-1 {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2 {
        margin-top: 10px;
        margin-left: 0px;
    }

    .info-img img {
        display: none;
    }

    .links h4 {
        margin: 25px 0 10px 0;
    }

}